.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  min-height: 200px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 2em;
}

.App-header ul {
  margin: 0 0 0 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header ul li {
  list-style-type: none;
  margin: 0 1rem;
  color: #777;
}

.App-header ul li a {
  color: white;
  text-decoration: none;
}

.App-header ul li a:hover {
  text-decoration: underline;
}

.App-section {
  background-color: #fff;
  padding-bottom: 2rem;
}

.App-section > header {
  padding: 1rem;
  margin-bottom: 2rem;
}
.App-section > header > h2 {
  margin: 0;
}
.App-section > header > p {
  margin: 0;
}
